/*phil welsby - 11 aug 2021 - one player dice game*/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #009900;
}
.allDice {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 150px;
}

/*HEADING*/
.heading h1{
font-size: 35px;
display: flex;
justify-content: center;
}

/*SCORECARD*/
.top {
    font-size: 50px;
    display: flex;
    justify-content: center;
}

/*DICE*/
.middle {
    display: flex;
    justify-content: center;
}

.bottom {
    display: flex;
    justify-content: center;
    padding-top: 30px;}

/*BUTTON*/
button {
    height: 50px;
    width: 170px;
}

#rollButton {
    background-color: red;
    color: white;
    border-radius: 20px;

}

#resetButton {
    background-color: red;
    color: white;
    border-radius: 20px;
}

