/*phil welsby - 11 aug 2021 - one player dice game*/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: green;
}
.heading {
    background-color:yellow;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    height: 15vh
    ;
}
.allDice {
    /*background-color: tomato;*/
    display: flex;
    justify-content: space-evenly;    
    padding-top: 30px;
}

.allDice img {
    height: 180px;
    /*background-color:yellow;*/
}

.rollDice {
    /*background-color: red;*/
    display: flex;
    justify-content: center;
    padding-top: 500px;

}

#button {
    background: red;
    font-size: 30px;
    border-radius: 8px;
    margin: 10px;
    color: white;
}

#display {
    background-color:blue;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}